/* main travel and tours page start */

.clocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 42px;
}
.clock-containter {
  width: 70%;
  margin: 0 auto;
}
.clock {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;

  font-size: 30px;
  color: #000000;
  height: 60px;
  margin-top: 10px;
  padding: 0px 20px;
  /* border: 1px solid #ddd; */
  /*background-color: #3185B4;
    */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.clock-label {
  font-size: 23px;
  margin-left: 23px;
}
#jstAmPm,
#mmtAmPm {
  margin-left: 11px;
}
.clock-label img {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid #000;
}

.clock-asat {
  font-size: 50px;
  font-weight: bold;
  color: #eaf7ff;
  /* outline: #000; */
  text-shadow: 2px 2px #000;
}
.clock-item {
  background-color: #3185b4;
  width: 70px;
  color: #fff;
  text-align: center;
  margin: auto 10px;
  line-height: 60px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.img-btn {
  position: relative;
  text-align: center;
}
/* .img-btn img{
    
} */
.img-btn img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.carousel-fade .carousel-inner {
  height: 70vh;
}

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  /* position: relative; */
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.carousel-fade .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.85;
  filter: blur(1px);
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.header-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 3;
  text-align: center;
  /* margin: auto; */
}
.header-title h2 {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 5;
  color: rgb(255, 255, 255);
  font-weight: 900;
  opacity: 1;
  font-size: 46px;
}

.carousel-caption h4 {
  /* position: absolute; */
  /* top: -100%; */
  width: 100%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
  padding: 20px 10px;
}

.transportation-title {
  font-weight: 800;
  color: #5bafe7;
}

.transportation-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.weather-block {
  border: 1px solid #5bafe7;
  padding: 20px 0 30px;
}

.weather-description {
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #5bafe7 !important;
}

.temperature {
  color: #5bafe7;
  font-weight: 800;
}

.info {
  color: #5bafe7;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-description {
  letter-spacing: 3px;
  font-weight: 900;
}

.info-text {
  font-size: 40px;
  font-weight: 800;
}

.info-icon {
  font-size: 40px;
}

.transportation-text h3 {
  color: #5bafe7;
  font-weight: bolder;
  padding-top: 10px;
}
.transportation-text p {
  line-height: 1.8;
}

/* attractions and festival  */
.tabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* tab list item */
.tabs .tabs-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.tabs .tabs-list li {
  width: 55%;
  float: left;
  margin: 0px;
  padding: 10px 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px dotted #5bafe7;
}
.tabs .tabs-list li:hover {
  cursor: pointer;
}
.tabs .tabs-list li a {
  text-decoration: none;
  color: #5bafe7;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Tab content section */
.tabs .tab {
  display: none;
  width: 100%;
  min-height: 250px;
  height: auto;
  border-radius: 3px;
  padding: 20px 15px;
  background-color: white;
  color: darkslategray;
  clear: both;
}
/* .tabs .tab p {
  line-height: 20px;
  letter-spacing: 1px;
} */

/* When active state */
.active {
  display: block !important;
}
.tabs .tabs-list li.active {
  /* background-color: #5bafe7 !important; */
  border-bottom: 5px solid #5bafe7;
  color: #5bafe7 !important;
}
.active a {
  color: #5bafe7 !important;
}

.attractions img{
  width: 100%;
  height: 350px;
  object-fit: fill;
}
.attractions-text p {
  border-bottom: 3px solid #5bafe7;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 5px;
}
.attractions-text h3 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 5px;
  color: #5bafe7;
}
.snow-festival {
  width: 100%;
}
.snow-festival img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: fill;
}
.snow-festival-text h3 {
  color: #5bafe7;
  font-weight: bolder;
}
.snow-festival-text p {
  padding-left: 15px;
  line-height: 2.3;
  letter-spacing: 1.5px;
}
.sub-festival img{
  height: 400px;
  width: 100%;
  object-fit: fill;
}
.festival-1 {
  border-left: 1px dotted #5bafe7;
  border-right: 1px dotted #5bafe7;
  border-bottom: 3px solid #5bafe7;
}

.festival-2 {
  border-left: 1px dotted #5bafe7;
  border-right: 1px dotted #5bafe7;
  border-top: 3px solid #5bafe7;
}

.sub-festival-text h4 {
  color: #5bafe7;
  font-weight: bolder;
}

/* media query */
@media screen and (max-width: 360px) {
  .tabs {
    margin: 0;
    width: 100%;
  }
  .tabs .tabs-list li {
    width: 80px;
  }
}
/* attractions and festival  */

@media only screen and (max-width: 991px) {
  .carousel-fade .carousel-inner {
    height: 30vh;
  }
  .header-title h2 {
    top: 40%;
    font-size: 30px;
  }
  .carousel-caption h4 {
    font-size: 18px;
    padding: 0px 20px;
  }
}

/* main travel and tours page end */
